<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
     <p>Connect with us </p>
    <section class="mb-4">
      <!-- Facebook -->
      <a
      data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="bi bi-facebook"></i></a>

      <!-- Whatsapp -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #00c503;"
        href="#!"
        role="button"
        ><i class="bi bi-whatsapp"></i></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ff54c6;"
        href="#!"
        role="button"
        ><i class="bi bi-instagram"></i></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="bi bi-linkedin"></i></a>
      <!-- Github -->
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
    <p>© 2020 Copyright: <a class="text-body" href="https://mdbootstrap.com/">Dreamvacation.com</a> </p>

  </div>
  <!-- Copyright -->
</footer>
